<footer class="main-footer">
    <div class="float-right d-none d-sm-inline">
        Anything you want
    </div>
    <strong>Copyright &copy; 2020 <a href="/">Catalog</a>.</strong> All rights reserved.
</footer>