<li *ngIf="category && category.childCategories.length === 0">
    <a
        class="dropdown-item"
        href="javascript: void 0;"
        (click)="clickToItem(category)"
    >{{category.title}}</a>
</li>

<li
    class="dropdown-submenu dropdown-hover"
    *ngIf="category && category.childCategories.length !== 0"
>
    <a
        href="javascript: void 0;"
        (click)="clickToItem(category)"
        role="button"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
        class="dropdown-item dropdown-toggle"
    >{{category.title}}</a>
    <ul class="dropdown-menu border-0 shadow">
        <ng-container *ngFor="let subCategory of category.childCategories">
            <app-sub-menu-item [category]="subCategory" (onClick)="clickToItem($event)"></app-sub-menu-item>
        </ng-container>
    </ul>
</li>