<nav class="main-header navbar navbar-expand-md navbar-light navbar-white">
    <div class="container">
        <a href="/" class="navbar-brand">
            <span class="brand-text font-weight-light">Catalog</span>
        </a>
    
        <div class="collapse navbar-collapse order-3" id="navbarCollapse">
            <ul class="navbar-nav">
                <ng-container *ngFor="let category of categories">
                    <app-menu-item [category]="category" (onClick)="clickByMenuItem($event)"></app-menu-item>
                </ng-container>
            </ul>
    
            <form class="form-inline ml-0 ml-md-3">
                <div class="input-group input-group-sm">
                    <input
                        class="form-control form-control-navbar"
                        type="search"
                        placeholder="Search"
                        aria-label="Search">
                    <div class="input-group-append">
                    <button class="btn btn-navbar" type="submit">
                        <fa-icon icon="search"></fa-icon>
                    </button>
                    </div>
                </div>
            </form>
        </div>
    
        <ul class="order-1 order-md-3 navbar-nav navbar-no-expand ml-auto">
            <li class="nav-item">
                <a
                    class="nav-link"
                    href="javascript: void 0;"
                    (click)="goToBasketPage()"
                >
                    <fa-icon icon="shopping-basket"></fa-icon>
                    <span class="badge badge-danger navbar-badge">{{basketService.productsCount}}</span>
                </a>
            </li>
            <li class="nav-item">
                <span class="nav-link">{{basketService.productsPrice}} <fa-icon icon="ruble-sign" style="color: gray;"></fa-icon></span>
            </li>
            <li class="nav-item dropdown user user-menu">
                <a href="javascript: void 0;" class="nav-link dropdown-toggle" data-toggle="dropdown">
                    <span class="hidden-xs">{{currentUser?.firstName}} {{currentUser?.lastName}}</span>
                </a>
                <ul class="dropdown-menu">
                    <li class="user-footer">
                        <div class="pull-right">
                            <a
                                href="javascript: void 0;"
                                class="btn btn-default btn-flat"
                                (click)="logout()"
                            >Sign out</a>
                        </div>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</nav>