<h2>Страница входа</h2>
<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label for="login">Логин</label>
        <input type="text" formControlName="login" class="form-control" [ngClass]="{ 'is-invalid': submitted && loginFormControl.login.errors }" />
        <div *ngIf="submitted && loginFormControl.login.errors" class="invalid-feedback">
            <div *ngIf="loginFormControl.login.errors.required">Требуется ввести логин</div>
        </div>
    </div>
    <div class="form-group">
        <label for="password">Пароль</label>
        <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && loginFormControl.password.errors }" />
        <div *ngIf="submitted && loginFormControl.password.errors" class="invalid-feedback">
            <div *ngIf="loginFormControl.password.errors.required">Требуется ввести пароль</div>
        </div>
    </div>
    <div class="form-group">
        <button [disabled]="loading" class="btn btn-primary">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            Войти
        </button>
        <a routerLink="/register" class="btn btn-link">Регистрация</a>
    </div>
</form>