<div class="content-header">
    <div class="container">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark"> Каталог</h1>
            </div>
        </div>
    </div>
</div>

<div class="content">
    <app-child-categories
        [categoryId]="-1"
    ></app-child-categories>
</div>