.card-body {
    height: 150x;
}

.card {
    cursor: pointer;
}

.card-image {
    height: 100px;
}

.card-image img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    margin: 0 auto;
    display: block;
}