<div class="card-columns">
    <ng-container *ngFor="let category of categories;">
        <div class="card" (click)="showChildCategories(category.id)">
            <h5 class="card-header">{{category.title}}</h5>
            <div class="card-body">
                <div class="card-image">
                    <img src="{{config.imagesUrl}}/{{category.imagePath}}" alt="...">
                </div>
            </div>
        </div>
    </ng-container>
</div>