<div class="content-header">
    <div class="container">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark"> Корзина</h1>
            </div>
        </div>
    </div>
</div>
<div class="content">
    <div class="card">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Название</th>
                    <th scope="col">Цена</th>
                    <th scope="col">Количество</th>
                    <th scope="col">Общая стоимость</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let product of basketService.products;">
                    <td>
                        <a href="/product/{{product.id}}">
                            {{product.name}}
                        </a>
                    </td>
                    <td>{{product.price}}</td>
                    <td>
                        <span class="minus btn btn-default" (click)="removeProduct(product.id)">-</span>
                        <input class="product-count-input" [ngModel]="product.count" disabled />
                        <span class="plus btn btn-default" (click)="addProduct(product.id)">+</span>
                    </td>
                    <td>{{product.price * product.count}}</td>
                <tr>
            </tbody>
        </table>
    </div>

    <div>
        <span><b>Общая стоимость покупки:</b> {{basketService.productsPrice}} <fa-icon icon="ruble-sign" style="color: gray;"></fa-icon></span>
    </div>
    <div style="margin-top: 10px;">
        <button type="button" class="btn btn-primary" [disabled]="basketService.productsCount === 0">Оформить заказ</button>
    </div>

</div>