<div *ngIf="currentUser">
  <div class="skin-blue layout-top-nav">
    <div class="wrapper">
      <app-navigation-bar></app-navigation-bar>
      <div class="content-wrapper">
        <div class="container">
          <router-outlet></router-outlet>
        </div>
      </div>
      <app-footer></app-footer>
    </div>
  </div>
</div>

<!-- main app container -->
<div class="jumbotron" *ngIf="!currentUser">
  <div class="container">
      <div class="row">
          <div class="col-sm-6 offset-sm-3">
              <router-outlet></router-outlet>
          </div>
      </div>
  </div>
</div>