<div class="content-header">
    <div class="container">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark"> {{categoryInfo?.title}}</h1>
            </div>
        </div>
    </div>
</div>
<div class="content">
    <div class="card">
        <ng-container *ngIf="categoryInfo?.description">
            <h5 class="card-header">{{categoryInfo.title}}</h5>
            <div class="card-body">
                <p class="card-text">{{categoryInfo.description}}</p>
            </div>
        </ng-container>
        <ng-container *ngIf="!categoryInfo">
            <div class="overlay">
                <fa-icon icon="spinner" spin="true"></fa-icon>
            </div>
        </ng-container>
    </div>

    <div *ngIf="categoryInfo">
        <app-child-categories
            #appChildCategories
            *ngIf="!productsCategory"
            [(categoryId)]="categoryInfo.id"
        ></app-child-categories>
        <app-products
            #appProducts
            *ngIf="productsCategory"
            [(categoryId)]="categoryInfo.id"
        ></app-products>
    </div>
</div>