.card-image {
    height: 200px;
    width: 200px;
    float: left;
}

.card-image img {
    max-width: 100%;
    max-height: 100%;
    height: auto;
    width: auto;
    margin: 0 auto;
    display: block;
}

.card-product-info {
    display: inline;
}

.product-title {
    margin-left: 20px;
}

.product-description {
    margin: 20px;
}

.price-block {
    margin-top: 20px;
    font-size: 30px;
}

.price-block span {
    margin-left: 20px;
}

.add-trash-button {
    margin-top: 30px;
}

.add-trash-button button {
    margin-left: 20px;
}

.product-maker {
    margin-left: 20px;
}

.product-make-date {
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 30px;
}