<div class="content-header">
    <div class="container">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark"> {{product?.title}}</h1>
            </div>
        </div>
    </div>
</div>
<div class="content">
    <div class="card">
        <ng-container *ngIf="product">
            <div class="card-body">
                <div class="card-image">
                    <img src="{{config.imagesUrl}}/{{product.imagePath}}" alt="...">
                </div>
                <div class="card-product-info">
                    <span class="product-title">{{product.title}}</span>
                    <div class="price-block">
                        <span>{{product.price}} <fa-icon icon="ruble-sign" style="color: gray;"></fa-icon></span>
                    </div>
                    <div class="add-trash-button">
                        <button
                            type="button"
                            class="btn btn-primary"
                            (click)="addToBasket(product.id)"
                            *ngIf="!basketService.productInBasket(product.id)"
                        >В корзину</button>
                        <button
                            type="button"
                            class="btn btn-primary"
                            (click)="goToBasket()"
                            title="Перейти в корзину"
                            *ngIf="basketService.productInBasket(product.id)"
                        ><fa-icon icon="check"></fa-icon> В корзине</button>
                    </div>
                </div>
            </div>
        </ng-container>
        <ng-container *ngIf="!product">
            <div class="overlay">
                <fa-icon icon="spinner" spin="true"></fa-icon>
            </div>
        </ng-container>
    </div>

    <div class="card">
        <span class="product-description">{{product?.description}}</span>

        <span class="product-maker"><b>Производитель: </b>{{product?.maker}}</span>
        <span class="product-make-date"><b>Дата изготовления: </b>{{product?.makeDate}}</span>
    </div>
</div>