/* 2 колонки на sm */
@media (min-width: 576px) {
    .card-columns {
        -webkit-column-count: 2;
        column-count: 2
    }
}
/* 3 колонки на md */
@media (min-width: 768px) {
    .card-columns {
        -webkit-column-count: 2;
        column-count: 2
    }
}
/* 4 колонки на lg и xl */
@media (min-width: 992px) {
    .card-columns {
        -webkit-column-count: 4;
        column-count: 4
    }
}

.price-span {
    float: left;
    font-size: large;
    font-weight: 500;
}

.card-header {
    cursor: pointer;
}

.card-button {
    float: right;
}

.card-image {
    height: 200px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.card-image img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    margin: 0 auto;
    display: block;
}

.card-button button {
    font-size: 11px;
}