<div class="card-columns">
    <ng-container *ngFor="let product of products;">
        <div class="card">
            <h5 class="card-header" (click)="showProductInfo(product.id)">{{product.title}}</h5>
            <div class="card-body">
                <div class="card-image">
                    <img src="{{config.imagesUrl}}/{{product.imagePath}}" alt="...">
                </div>
                <div>
                    <span class="price-span">{{product.price}} <fa-icon icon="ruble-sign" style="color: gray;"></fa-icon></span>
                    <div class="btn-group card-button">
                        <button
                            type="button"
                            class="btn btn-default"
                            (click)="addProductToBasket(product.id)"
                            *ngIf="!basketService.productInBasket(product.id)">
                            <fa-icon icon="trash"></fa-icon>
                        </button>
                        <button
                            type="button"
                            class="btn btn-primary"
                            (click)="goToBasket()"
                            title="Перейти в корзину"
                            *ngIf="basketService.productInBasket(product.id)">
                            <fa-icon icon="check"></fa-icon>
                        </button>
                        <button type="button" class="btn btn-default" (click)="showProductInfo(product.id)">Детали</button>
                    </div>
                </div>
            </div>
        </div>
    </ng-container>
</div>