<li
    class="nav-item"
    *ngIf="category && category.childCategories.length === 0"
>
    <a
        class="nav-link"
        href="javascript: void 0;"
        (click)="clickToItem(category)"
    >{{category.title}}</a>
</li>

<li
    class="nav-item dropdown"
    *ngIf="category && category.childCategories.length !== 0"
>
    <a
        href="javascript: void 0;"
        (click)="clickToItem(category)"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
        class="nav-link dropdown-toggle"
    >
        {{category.title}}
    </a>
    <ul class="dropdown-menu border-0 shadow">
        <ng-container *ngFor="let subCategory of category.childCategories">
            <app-sub-menu-item [category]="subCategory" (onClick)="clickToItem($event)" ></app-sub-menu-item>
        </ng-container>
    </ul>
</li>