<h2>Регистрация</h2>
<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label for="firstName">Имя</label>
        <input 
            type="text"
            formControlName="firstName"
            class="form-control"
            [ngClass]="{ 'is-invalid': submitted && registerFormControl.firstName.errors }"
        />
        <div *ngIf="submitted && registerFormControl.firstName.errors" class="invalid-feedback">
            <div *ngIf="registerFormControl.firstName.errors.required">Требуется ввести имя</div>
        </div>
    </div>
    <div class="form-group">
        <label for="lastName">Фамилия</label>
        <input 
            type="text"
            formControlName="lastName"
            class="form-control"
            [ngClass]="{ 'is-invalid': submitted && registerFormControl.lastName.errors }"
        />
        <div *ngIf="submitted && registerFormControl.lastName.errors" class="invalid-feedback">
            <div *ngIf="registerFormControl.lastName.errors.required">Требуется ввести фамилию</div>
        </div>
    </div>
    <div class="form-group">
        <label for="login">Логин</label>
        <input 
            type="text"
            formControlName="login"
            class="form-control"
            [ngClass]="{ 'is-invalid': submitted && registerFormControl.login.errors }"
        />
        <div *ngIf="submitted && registerFormControl.login.errors" class="invalid-feedback">
            <div *ngIf="registerFormControl.login.errors.required">Требуется ввести логин</div>
        </div>
    </div>
    <div class="form-group">
        <label for="password">Пароль</label>
        <input 
            type="password"
            formControlName="password"
            class="form-control"
            [ngClass]="{ 'is-invalid': submitted && registerFormControl.password.errors }"
        />
        <div *ngIf="submitted && registerFormControl.password.errors" class="invalid-feedback">
            <div *ngIf="registerFormControl.password.errors.required">Требуется ввести пароль</div>
            <div *ngIf="registerFormControl.password.errors.minlength">Минимальная длина пароля 6 символов</div>
        </div>
    </div>
    <div class="form-group">
        <button [disabled]="loading" class="btn btn-primary">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            Зарегистрироваться
        </button>
        <a routerLink="/login" class="btn btn-link">Отмена</a>
    </div>
</form>
